body {
  background-color: #121212;
  color: #e0e0e0;
  cursor: none;
}

.developing-title {
  color: #007bff;
  animation: slideIn 1s ease-in-out;
}

.developing-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 30px;
}

.developing-item {
  background-color: #1e1e1e;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative; /* For status positioning */
}

.developing-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.project-preview {
  width: 100%;
  height: 200px; /* Adjust as needed */
  overflow: hidden;
  margin-bottom: 20px;
}

.project-preview img {
  max-width: 400px;
  height: 400px;
  object-fit: cover;
}

.status {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 123, 255, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
}

.project-preview img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  border-radius: 10px;
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
